
.main-box{
    padding-top: 25px;
    padding-bottom: 42px;
    font-family: 'IRANYekan';
}

.title-service{
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;    
    text-align: center;
    cursor: pointer;
}

.title-service-active{
    color:#248FDE;
}

.title-service-disable{
    color: #55768B;
}


.title-sub-service{
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    text-align: center;
    background: rgba(242, 248, 250, 0.7);
    border-radius: 5px;
    width: 74px;
    height: 25px;
    margin: auto;
    cursor: pointer;
}

.title-sub-service-active{
    color: #248FDE;
    opacity: 1;
}

.title-sub-service-disable{
    color: #55768B;
    opacity: 0.7;
}

.icon-menu{
    width: 46px;
    height: 46px;
    text-align: center;
    margin: auto;
    cursor: pointer;
}


.ant-tabs>.ant-tabs-nav .ant-tabs-nav-wrap, .ant-tabs>div>.ant-tabs-nav .ant-tabs-nav-wrap{
    flex:auto !important ;
}

.ant-tabs-rtl .ant-tabs-nav .ant-tabs-tab {
    margin: 0 32px 0 32px !important;
}