
.title-page{
    font-size: 14px;
    line-height: 20px;
    color: #55768B;
}

.search-box{
    padding: 9px;
    border-radius: 10px;   
    font-size: 13px;
    line-height: 22px;
    background-color: #F2F8FA;
    font-weight: 400;
}

.search-box::placeholder { 
    color: #84AECD;
    opacity: 1; 
}


.icon-menu{
    color: #55768B;
}