/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {font-family: "IRANYekan";
    src: url("assets/fonts/IrYekan/IRYekan.eot"); /* IE9*/
    src: url("assets/fonts/IrYekan/IRYekan.eot") format("embedded-opentype"), /* IE6-IE8 */
    url("assets/fonts/IrYekan/IRYekan.woff2") format("woff2"), /* chrome、firefox */
    url("assets/fonts/IrYekan/IRYekan.woff") format("woff"), /* chrome、firefox */
    url("assets/fonts/IrYekan/IRYekan.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("assets/fonts/IrYekan/IRYekan.otf") format("svg"); /* iOS 4.1- */
  }

  .ant-tabs>.ant-tabs-nav .ant-tabs-nav-list{
    width: 100vw;
    flex-grow: 1 !important;
  }

  .ant-tabs-tab {
    flex-grow: 1;
    text-align: center;
    margin: 0 32px 0 32px !important;
    display: inline !important; 
  }


    body{
        background-color: #F5F5F5 !important;
    }


.bg-page-1{
    background-color: #F5F5F5;
}

.bg-page-2{
    background-color: #F2F8FA;
}

.b-raduis-10{
    border-radius: 10px;
}

.color-1{
   color: #55768B
}